//@import url(http://allfont.ru/allfont.css?fonts=colonna-mt);

*{
	padding: 0;
	margin: 0;
}

body{
	background: linear-gradient(45deg, #40bbca, #eedfea);
	//background-color: #54e0ba;
}

header{
	width: 100%;
	//height: 100vh;
	background-image: url('../img/fon_slider.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	background-position: center top;
	
}

.caption_top{
	margin: 0 0 0 20%;
	
}

@font-face {
    font-family: Colonna-MT; /* Имя шрифта */
    src: url(../fonts/COLONNA.TTF); /* Путь к файлу со шрифтом */
   }

.caption_top h1{
	//color: #35bde2;
	color: #FFF;
	font-size: 3.2em;
	font-family: 'Colonna-MT', arial, sans-serif;
	margin: 10px 0 0 0;
	padding: 0;
	line-height: 70%;
	
	
}

@font-face {
    font-family: Blackadder; /* Имя шрифта */
    src: url(../fonts/Blackadder-ITC-Regular.ttf); /* Путь к файлу со шрифтом */
   }

.caption_top p{
	//color: #35bde2;
	color: #fff;
	font-size: 2.8em;
	font-family: 'Blackadder', arial;
	line-height: 50%;
	margin: 0;
	padding: 0;
	
}

.slider{
	width: 60%;
	margin: 5% auto;
	position: relative;
	
	//border: 2px solid red;
}

.slider img{
	width: 100%;
	height: auto;
	position: absolute;	
	border: 3px solid #fff;
	cursor: pointer;
	transition: 1s;
	z-index: 20;
}

.slider img:nth-child(1)
{ -webkit-transform: rotate(-3deg);
   -moz-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
     -o-transform: rotate(-3deg);
        transform: rotate(-3deg);
}

.slider img:nth-child(2)
{ -webkit-transform: rotate(3deg);
   -moz-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
     -o-transform: rotate(3deg);
        transform: rotate(3deg);
	}

.slider img.active {
	transform: rotate(-1360deg);
	margin-left: -100%;
	transition: 1s;			
}

.slider img.last {
	z-index: 10		
}
.slider_item_bottom{
	width: 60%;
	margin: 2.2% auto;
	
}

.slider_item_bottom .slider_item{
	display: inline-block;
	float: left;
	width: 33.3%;
	text-align: center;
	
}

.slider_item_bottom .slider_item img{
	border: 1px solid #fff;
}

section h1{
	text-align: center;
	font-family: 'Colonna-MT', arial, sans-serif;
	font-size: 3.5em;
}
@font-face {
    font-family: Bradley Hand ITC; /* Имя шрифта */
    src: url(../fonts/bradleyhanditc.zip); /* Путь к файлу со шрифтом */
   }
section h2, .description p{
	font-family: 'Bradley Hand ITC', arial, sans-serif;
	
}

.description{
	display: inline-block;
	text-align: center;
}

.description h2{
	font-weight: bold;
}

.description img{
	text-align: center;
}

.description p{
	text-align: justify;
	font-size: 1.6em;	
}

.description img{
	width: 100%;
}

footer{
	-webkit-perspective: 1800px;//
    -moz-perspective: 1800px;//
      perspective-origin: 0% 0%;
    -moz-transform-style: preserve-3d;//
    -webkit-transform-style: preserve-3d;//
}

.album{
	width: 70%;
	height: 600px;
	margin: 4% auto;
	position: relative;
	z-index: 0;
	cursor: pointer;
	-webkit-box-shadow: 2px 4px 2px #fff, 4px 6px 8px #000;
	        box-shadow: 2px 4px 2px #fff, 4px 6px 8px #000;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	//transform-style: preserve-3d;
}



.album_block {
	width: 100%;
	height: 100%;
	position: absolute; 
	background: #28a8d7 url('../img/nakleika_na_albom.png') no-repeat left center;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	-webkit-box-shadow: 2px 4px 2px #fff, 4px 6px 8px #000;
	        box-shadow: 2px 4px 2px #fff, 4px 6px 8px #000;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	transform-style: preserve-3d
	transition: 1s;	
	transform-origin: 0 0 ;
	/*-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;*/
}

.album_block h1{
	font-size: 7em;
	font-family: 'Colonna-MT', arial, sans-serif;
	text-align: center;
	color: #1f1d1e;	
}



/*.album_block:hover{
    transform-origin: 0 0 ;
  	transform: rotateY(-180deg);
  	margin-right: 2000px;
	background: #FFF;
	transition: 1s;
}*/

.album_page{
	width: 100%;
	height: 100%;
	background: #28a8d7;
	position: relative;
	z-index: -1;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	
}

.album_item{
	width: 90%;
	margin: 0 auto;
	padding-top: 5%;	
}

.blur{
	filter: blur(100px);
	-webkit-transition: .6s;
	   -moz-transition: .6s;
	    -ms-transition: .6s;
	     -o-transition: .6s;
	        transition: .6s;
}


/*.album_page img:hover{
	width: 100%;
	filter: blur(0px);
	-webkit-transition: 1s;
	   -moz-transition: 1s;
	    -ms-transition: 1s;
	     -o-transition: 1s;
	        transition: 1s;
}*/

.album_page h2{
	margin: 7% 0 0 0;
	font-size: 5em;
	font-family: 'Blackadder', arial, sans-serif;
	color: #FFF;
}

.album_page i.fa{
	font-size: 3em;
	color: #3d3d3d;
	position: absolute;
	top: 90%;
}

.album_page i.fa-share{
	float: right;
	margin-right: 2%;
	left: 90%;
}

.album_page i.fa-reply{
	float: left;
	margin-left: 2%;
	left:1%;
}


.item{
	width: 100%;
	text-align: center;
}

.item img{
	width: 100%;
	display: inline-block;
	margin: 0 0 20% 0;
	box-shadow: 10px 10px 20px #000;
}


@media screen  and (max-width: 992px ){
	.album{
		height: 500px;
	}
}

@media screen  and (max-width: 768px ){
	.album{
		height: 250px;
		width: 100%
	}
	.album_page i.fa{
		font-size: 1.5em;
	}
	.album_block h1{
	font-size: 3em;
	}

	.slider{
		width: 100%;
	}
}

@media screen  and (max-width: 320px ){
	.album{
		height: 180px;
		width: 100%
	}
	
	.album_page i.fa{
		font-size: 1.5em;
	}
	.album_block h1{
	font-size: 3em;
	}
	.slider{
		width: 100%;
	}
}