body{	
	.header{
		height: 100vh;
		background-color: #2b2c2c;
		.even-noteven,
		.noteven-even{
			
		}
		.even-noteven{
			
			text-align: center;
			img{
				border-radius: 100px; 
			}
			
		}
		.noteven-even{
			background-color: #2d2e2e;
			margin: 20px;

			h2{
				margin: 0;
				&.name{
					color: #fff;
				}
				&.last-name{
					color: #e0a80d;
				}
		}
		p{
				color: #a4a5a6;

			}
	}
	}

	
}