$darker: #2b2c2c;
$lighter: #2d2e2e;
body{	
	background-color: #2b2c2c;
	.container-header,
	.container-header-next{
			width: 50%;
			height: 100vh;
			float: left;
	}
	.container-content,
	.container-content-next{
			width: 50%;
			height: 100vh;
			float: left;
	}
	.container-header-next,
	.container-content-next{
		height: 50vh;
	}

	.container-darker, .darker{
		background-color: $darker;
	}
	.container-lighter, .lighter{
		background-color: $lighter;
	}

	.pos5{
		position: relative;
		z-index: 20;
	}
	.wrapper-content{
		color: #fff;
	}
	h2{
		margin: 0;
	}

	header{
		height: 100vh;
		
		
		.wrapper-content{
			position: relative;
			height: 100%;
			.o-cont-absolute{
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			.bias{
				margin-top: 20%
			} 
		}
				.o-section-header{
					img{
						width: 70%;
						border-radius: 50%;	
					}
					
				}
				.darker{
					background-color: $darker;
				}
				.lighter{
					background-color: $lighter;
				}
				.o-section-content{
					height: 100vh;
					text-align: left; 
					padding-left: 6%;
					overflow: hidden;
					h2{
						margin: 0;
						
						font-size: 4rem;
						font-weight: bold;

						&.name{
							color: #fff;
						}
						&.last-name{
							color: #e0a80d;
						}
					}
					p{
						color: #fff;
						margin-top: 2%;
						margin-bottom: 5%;
						font-weight: bold;
						font-size: 1.8em;
						span{
							color: #e0a80d;
						}
					}
					
				}
				hr{
					border: 1px solid #404242;
					margin-top: 20%;
				}
				

		}
	}

.contact-details{
						color: #fff;
						text-align: center;
						ul{
							li{
								font-size: 1.5em;
								&:nth-child(2){
									margin-top: 10%;
									color: #979899;

								}
							}
						}
					}
	

	section{
		.wrapper-content{
			position: relative;
			.o-cont-absolute{
				width: 100%;
				position: absolute;
				top: 0;
				left: 0;
				.bias{
					padding-top: 3rem;
					padding-left: 3rem;
						.item-skills{
							.progressing-bar{
								width: 100%;
								height: 10px;
								background-color: #404242;	
								.progressing-bar-in{
									width: 0;
									transition: width 1.4s ease-in-out .5s;
									height: 100%;
									background-color: #e0a80d;
								}
							}
							

						}
						p.about-me{
							line-height: 2rem;
							font-size: 1.3rem;
							padding: 2rem;
							world-wrap: break-world;
						}
				} 
			}
		}

		
	}

	.portfolio{
		height: 85vh;
		img{
			width: 100%;
			position: relative;
			&:before{
				content: "";
				background-color: rgba(0,0,0,.5);
				position: absolute;
				width: 100%;
				height: 300px;
			}
			&:hover{

			}
		}
	}



	.contact{
		height: 30vh !important;
		.container-header-next, .container-content-next{
			height: 100%;
			.o-section-header{
				height: 100% !important;
			}
		}

		

	}

}

.o-section-content{
	margin-botom: 5%;
	.item-experience{
		height: 100px;
		h3{
			margin-top: 0;
			color: #e0a80d;
			text-shadow: 0 0 20px #000000;
		}
	}
}

.skills{
	.item-skills{
		margin-bottom: 26%;
		font-size: 1.1em;
		p{
			text-transform: uppercase;
			margin-bottom: 3%;
			span{
					margin-right: 3%;
				}
		}
		
	}
}