body{	
	.header{
		height: 400px;
		position: relative;
		.col1-2{
			background-color: #2b2c2c;
			width: 100%;
			line-height:400px;
			text-align: center;
			img{
				vertical-align: middle;
				border-radius: 100px;
			}
			
		}

	

	.col-right-noteven{
		background-color: #2d2e2e;
	}
	}

	
}