*{
	margin:0;
	padding:0;	
}

html, body, .cont {
    height: 100%;
}

.cont{
	background-color: #fff;
	width: 100%;
	
	position:relative;
}

.slider img{
	width: 798px;
	height: 598px;
	cursor: pointer;
}

.slider
{
	margin-top: 20px;
	margin-left: 30px;
	background-color: #ffF;
	border: 2px solid silver;
	width: 800px;
	height: 600px;
	float: left;
	overflow: hidden;
} 
 
.sidebar{
	margin-top: 20px;
	margin-right: 10px;
	
	width:420px;
	background-color: #fff;
	border: 2px solid silver;
	position:absolute;
	right: 0%;
	
}

.sidebar img{
	padding:3px;
	width: 200px;
	height: 120px;
	cursor: pointer;
}